In [96]:
import pandas as pd
train_df= pd.read_csv("train.csv",encoding="utf-8")
train_df

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [97]:
test_df= pd.read_csv("test.csv",encoding="utf-8")
test_df

     PassengerId  Pclass  ... Cabin Embarked
0            892       3  ...   NaN        Q
1            893       3  ...   NaN        S
2            894       2  ...   NaN        Q
3            895       3  ...   NaN        S
4            896       3  ...   NaN        S
..           ...     ...  ...   ...      ...
413         1305       3  ...   NaN        S
414         1306       1  ...  C105        C
415         1307       3  ...   NaN        S
416         1308       3  ...   NaN        S
417         1309       3  ...   NaN        C

[418 rows x 11 columns]

In [98]:
# True 是有錯誤
# train_df.isna()
s = train_df.isna().sum()
# 大於零的過濾
# filter: 帶入跟資料大小一樣的 true / false, true:留 , false:滾
s[s>0].sort_values(ascending=False)

Cabin       687
Age         177
Embarked      2
dtype: int64

In [99]:
s = test_df.isna().sum()
# 大於零的過濾
# filter: 帶入跟資料大小一樣的 true / false, true:留 , false:滾
s[s>0].sort_values(ascending=False)

Cabin    327
Age       86
Fare       1
dtype: int64

In [100]:
# 數值類型:中位數
# train_df.median()
med = train_df.median()
med = med.drop(["Pclass"])
train_df= train_df.fillna(med)
test_df=test_df.fillna(med)

In [101]:
# train_df.isna()
s = train_df.isna().sum()
# 大於零的過濾
# filter: 帶入跟資料大小一樣的 true / false, true:留 , false:滾
s[s>0].sort_values(ascending=False)

Cabin       687
Embarked      2
dtype: int64

In [102]:
# 類別類型: 最常出現
counts= train_df["Embarked"].value_counts()
most= counts.idxmax()
train_df["Embarked"] = train_df["Embarked"].fillna(most)

In [103]:
#train_df["Name"]
n="Braund, Mr. Owen Harris"
n=n.split(",")[-1].split(".")[0]
n.strip()

'Mr'

In [104]:
# 正規表示式
#import re
#n=" Braund, Mr. Owen Harris"
#pat = re.compile(r'([a-z]+) ([a-z]+)', re.I) 
#re.search(pat,n).group(0)

In [149]:
import re
n="Braund, Mr. Owen Harris"
# \w:A~Z a-z  \s:blank  +:>=1  *:>=0
# \w+: Braund: 一個以上 a-z
# \s*: 零個以上的空白
#(\w+):Mr, ()是指這是我的target
#\.: 是有特殊用途的, 所以我\.:就是.
#[\s\w]+:  Owen Harris \s or \w 出現一次以上
# group: 找出()
pat = r"\w+,\s*(\w+)\.[\s\w]+"
re.search(pat,n).group(1)

'Mr'

In [155]:
def namecut(n):
    reserved = ["Mr", "Miss", "Mrs", "Master"]
    n = n.split(",")[-1].split(".")[0]
    n = n.strip()
    if n in reserved:
        return n
train_df["Name"] = train_df["Name"].apply(namecut)
train_df["Name"]

0        Mr
1       Mrs
2      Miss
3       Mrs
4        Mr
       ...
886    None
887    Miss
888    Miss
889      Mr
890      Mr
Name: Name, Length: 891, dtype: object

In [156]:
test_df["Name"] = test_df["Name"].apply(namecut)

In [157]:
x_train = train_df.drop(["PassengerId","Survived","Ticket","Cabin"],
                        axis=1)
y_train=train_df["Survived"]
x_test = test_df.drop(["PassengerId","Ticket","Cabin"],
                        axis=1)

In [158]:
x_train

     Pclass  Name     Sex   Age  SibSp  Parch     Fare Embarked
0         3    Mr    male  22.0      1      0   7.2500        S
1         1   Mrs  female  38.0      1      0  71.2833        C
2         3  Miss  female  26.0      0      0   7.9250        S
3         1   Mrs  female  35.0      1      0  53.1000        S
4         3    Mr    male  35.0      0      0   8.0500        S
..      ...   ...     ...   ...    ...    ...      ...      ...
886       2  None    male  27.0      0      0  13.0000        S
887       1  Miss  female  19.0      0      0  30.0000        S
888       3  Miss  female  28.0      1      2  23.4500        S
889       1    Mr    male  26.0      0      0  30.0000        C
890       3    Mr    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [159]:
# Step2. One-Hot
x_train = pd.get_dummies(x_train)
x_train

     Pclass   Age  SibSp  Parch  ...  Sex_male  Embarked_C  Embarked_Q  Embarked_S
0         3  22.0      1      0  ...         1           0           0           1
1         1  38.0      1      0  ...         0           1           0           0
2         3  26.0      0      0  ...         0           0           0           1
3         1  35.0      1      0  ...         0           0           0           1
4         3  35.0      0      0  ...         1           0           0           1
..      ...   ...    ...    ...  ...       ...         ...         ...         ...
886       2  27.0      0      0  ...         1           0           0           1
887       1  19.0      0      0  ...         0           0           0           1
888       3  28.0      1      2  ...         0           0           0           1
889       1  26.0      0      0  ...         1           1           0           0
890       3  32.0      0      0  ...         1           0           1           0

[891 rows x 14 columns]

In [160]:
x_test=pd.get_dummies(x_test)
x_test

     Pclass   Age  SibSp  Parch  ...  Sex_male  Embarked_C  Embarked_Q  Embarked_S
0         3  34.5      0      0  ...         1           0           1           0
1         3  47.0      1      0  ...         0           0           0           1
2         2  62.0      0      0  ...         1           0           1           0
3         3  27.0      0      0  ...         1           0           0           1
4         3  22.0      1      1  ...         0           0           0           1
..      ...   ...    ...    ...  ...       ...         ...         ...         ...
413       3  28.0      0      0  ...         1           0           0           1
414       1  39.0      0      0  ...         0           1           0           0
415       3  38.5      0      0  ...         1           0           0           1
416       3  28.0      0      0  ...         1           0           0           1
417       3  28.0      1      1  ...         1           1           0           0

[418 rows x 14 columns]

In [161]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
clf = RandomForestClassifier()
params = {
    "n_estimators":range(50,70),
    "max_depth":range(6,10)    
}
grid = GridSearchCV(clf,params, cv=10, n_jobs=4)
grid.fit(x_train, y_train)
print(grid.best_params_)
print(grid.best_score_)

{'max_depth': 8, 'n_estimators': 60}
0.8417977528089888

In [190]:
import numpy as np
# from sklearn.ensemble import RandomForestClassifier
# 選擇參數模型
from sklearn.model_selection import cross_val_score
clf = RandomForestClassifier(n_estimators=67, max_depth=8)
scores = cross_val_score(clf, x_train, y_train, cv=10, n_jobs=4)
print("10 scores:",scores)
print("average:",np.average(scores))

10 scores: [0.78888889 0.87640449 0.74157303 0.88764045 0.88764045 0.84269663
 0.83146067 0.78651685 0.86516854 0.85393258]
average: 0.8361922596754058

In [191]:
clf = RandomForestClassifier(n_estimators=65, max_depth=8)
clf.fit(x_train, y_train)
pre = clf.predict(x_test)
result = pd.DataFrame({
    "PassengerId":test_df["PassengerId"],
    "Survived":pre
})
result.to_csv("clf.csv", encoding="utf-8", index=False)
result

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [192]:
pd.DataFrame({
    "Col":x_train.columns,
    "Imp":clf.feature_importances_
})

            Col       Imp
0        Pclass  0.110648
1           Age  0.119101
2         SibSp  0.063191
3         Parch  0.035683
4          Fare  0.169154
5   Name_Master  0.018524
6     Name_Miss  0.033435
7       Name_Mr  0.125702
8      Name_Mrs  0.025570
9    Sex_female  0.135500
10     Sex_male  0.121586
11   Embarked_C  0.015641
12   Embarked_Q  0.010859
13   Embarked_S  0.015405

In [184]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x_train_scale = scaler.fit_transform(x_train)
x_test_scale = scaler.transform(x_test)
pd.DataFrame(x_train_scale)

      0         1      2         3         4   ...   9    10   11   12   13
0    1.0  0.271174  0.125  0.000000  0.014151  ...  0.0  1.0  0.0  0.0  1.0
1    0.0  0.472229  0.125  0.000000  0.139136  ...  1.0  0.0  1.0  0.0  0.0
2    1.0  0.321438  0.000  0.000000  0.015469  ...  1.0  0.0  0.0  0.0  1.0
3    0.0  0.434531  0.125  0.000000  0.103644  ...  1.0  0.0  0.0  0.0  1.0
4    1.0  0.434531  0.000  0.000000  0.015713  ...  0.0  1.0  0.0  0.0  1.0
..   ...       ...    ...       ...       ...  ...  ...  ...  ...  ...  ...
886  0.5  0.334004  0.000  0.000000  0.025374  ...  0.0  1.0  0.0  0.0  1.0
887  0.0  0.233476  0.000  0.000000  0.058556  ...  1.0  0.0  0.0  0.0  1.0
888  1.0  0.346569  0.125  0.333333  0.045771  ...  1.0  0.0  0.0  0.0  1.0
889  0.0  0.321438  0.000  0.000000  0.058556  ...  0.0  1.0  1.0  0.0  0.0
890  1.0  0.396833  0.000  0.000000  0.015127  ...  0.0  1.0  0.0  1.0  0.0

[891 rows x 14 columns]

In [193]:
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier()
params = {
    "n_neighbors":range(5, 100),
}
grid = GridSearchCV(clf, params, cv=10, n_jobs=4)
grid.fit(x_train_scale, y_train)
print(grid.best_params_)
print(grid.best_score_)

{'n_neighbors': 22}
0.8193508114856428

In [194]:
clf = grid.best_estimator_
clf.fit(x_train_scale, y_train)
pre = clf.predict(x_test_scale)
result = pd.DataFrame({
    "PassengerId":test_df["PassengerId"],
    "Survived":pre
})
result.to_csv("knn.csv", encoding="utf-8", index=False)
result

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]